.customScrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar for Chrome, Safari, Edge */
}

.customScrollbar {
    -ms-overflow-style: none;  /* Hides scrollbar for IE & Edge */
    scrollbar-width: none;  /* Hides scrollbar for Firefox */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: scroll;
    width: 30%;
    height: 350px;
}

.slick-slide {
    height: auto !important; /* Allow slides to size properly */
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .slick-slide img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  
.slickSlider.slick-track{
    width: 100% !important;
    display: flex !important;
}
.slickSlider.slick-prev {
    background-color: red;
}
.slickSlider.slick-next {
    background-color: red;
}

@media (min-width: 200px) and (max-width: 568px){
    .customScrollbar {
        -ms-overflow-style: none;  /* Hides scrollbar for IE & Edge */
        scrollbar-width: none;  /* Hides scrollbar for Firefox */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow-x: scroll;
        width: 100%;
        height: auto;
    }
}